
.thumbnail{
  width: 100%;
  
}
.thumbnail-row{
  margin-bottom: 5px;
  position: relative;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}
.profile-picture{
  width: 36px;
  border-radius: 50px;
  margin-top: 6px;
  margin-left: 5px;
}
.video-title{
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 10px;
  

}
.video-author
,.video-start{
  font-size: 12px;
  color: rgb(96, 96, 96);
 
  
}
.video-author{
  margin-bottom: 5px;
}
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
@media (max-width:750px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}

  @media (min-width:1000px) {
    .video-grid{
      grid-template-columns: 1fr 1fr 1fr 1fr;
    
  }
}
.video-time{
  background-color: black;
  color: white;
  position: absolute;
  right: 5px;
  bottom: 10px;
  font-family: Roboto,Arial;
  padding: 3px;
  border-radius: 2px;
  font-size: 13px;
  font-weight:500;
}
.notifications-icone-container{
  position: relative;
}
.notifications-count{
  position: absolute;
  background-color: rgb(200, 10, 10);
  color: white;
  right: -6px;
  top: -1px;
  font-size: 9px;
  font-family: Roboto,Arial;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 50px;


}